#section-find-us{
	background: $pri-color-1;
	color: $sec-color-2;
	font-family: LatoLight;
	a{
		color: $sec-color-2;
		font-size: 1.4rem;	
	}
	h1{
		font-family: MuseoSans900, sans-serif;
		margin-top: 100px;
		margin-bottom:40px;
		line-height: 1.2;
		letter-spacing: 3px;	
		font-size: 2.4rem;
	}
	h3{
		font-family: LatoBlack, sans-serif;
		font-size: 1.4rem;
		margin: 3rem 0 1rem;
	}
	p{
		font-size: 1.4rem;
		a{
			margin: 2rem 0 4rem;
    	display: inline-block;
		}
	}

	.info-contact{
		.info-contact__group{
			position: relative;
			margin-bottom: 2rem;
			font-size: 1.4rem;
			
		}
		img{
			width: 20px;
			position: absolute;
			top: 5px;
		}
		a, span{
			padding-left: 30px;
		}
	}



	.social-media__icon{
		text-decoration: none;
		img{
			height: 2rem;
			margin-right: 10px;
		}
	}





	// Formulario (con label animado)
	.form-wrapper {
	  /*max-width: 30%;
	  min-width: 300px;
	  padding: 50px 30px 50px 30px;
	  margin: 50px auto;   
	  //background-color: #ffffff;
	  border-radius: 5px;
	  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);*/
	}

	.form-group {
	  position:relative;  

	  & + .form-group {
	    margin-top: 10px;
	  }
	}

	.form-label {
	  position: absolute;
	  left: .8rem;
	  top: .4rem;
	  //padding: 5px 10px;
	  color: $sec-color-2;
	  //background-color: $pri-color-dark;
	  z-index: 10;
	  transition: transform 150ms ease-out, font-size 150ms ease-out;
	  font-size: 1.2rem;
	}

	.focused .form-label {
	  transform: translateY(-90%);
	  font-size: .75em;
	}

	.form-input {
	  position: relative;
	  padding: 10px ;
	  width: 100%;
	  outline: 0;
	  border: 0;
	  //box-shadow: 0 1px 0 0 #e5e5e5;
	  transition: box-shadow 150ms ease-out;
	  
	  &:focus {
	    //box-shadow: 0 2px 0 0 blue;
	  }
	}

	.form-input.filled {
	  //box-shadow: 0 2px 0 0 $sec-color-2;
	}


	input, textarea{
		background: $pri-color-dark;
		border: none;
    outline: none !important;
    color: $sec-color-2;
	}

	form button{
		font-family: Lato, sans-serif;
		border: none;
		color: $pri-color-1;
		padding: 10px 15px;	
		margin-bottom: 2rem;
		margin-top: .5rem;
	}

	

}



@media only screen and (min-width: 768px) {
	#section-find-us{
		.wrapper-400h{
			height: 400px;
			position: relative;
			.social-media__group, h1{
				position: absolute;
				bottom: 0;
				margin: 0px;
			}
		}
		
		.info-contact{
			margin-top: 3rem;
		}
	}
	form{
		input{
			width: 33% !important;
		}
		textarea, .button-submit__container{
			width: 82.5% !important;
		}

	} 
	.img-geo__container{
		display: flex; 
	}
	.img-geo{
		object-fit: cover;
	}
}

